.scroll-pane {
    -fx-background-color: #0B0C2A;
    -fx-control-inner-background: #0B0C2A;
}

.scroll-pane .viewport {
    -fx-background-color: #0B0C2A;
}

#seenScrollPane .content {
    -fx-background-color: #0B0C2A;
}


